/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #c75c7f !default;
$red-color-dark: #9c3e5b !default;
$orange-color: #b77f73 !default;
$blue-color: #b96583 !default;
$blue-color-dark: #87425b !default;
$cyan-color: #f0abc0 !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #b56f82 !default;
$green-color-lime: #c49aa1 !default;
$green-color-dark: #8e5365 !default;
$green-color-light: #f8e8ed !default;
$green-color-bright: #d98ca4 !default;
$purple-color: #b65375 !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #e799b0 !default;
$pink-color-light: #fae8ee !default;
$yellow-color: #c69a91 !default;

$grey-color: #806a72 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #211a1d;
$grey-900: #2b2226;

$white-color: #ffffff !default;
$black-color: #47373d !default;

// Theme colors

$code-bg-color-light: rgba($pink-color, 0.1);
$code-bg-color-dark: #34272c !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;

// Max width default
$max-content-width: 930px !default;
